
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
</head>
<body>
<!-- partial:index.partial.html -->
<div class="login-box">
  <h2>Login</h2>
  <form method="post">
    {% csrf_token %}
    <div class="user-box">
      <input type="text" name="username" placeholder="Username" required="required" />
      <label>Username</label>
    </div>
    <div class="user-box">
      <input type="password" name="password" placeholder="Password" required="required" />
      <label>Password</label>
    </div>
    <a href="#" id="submitButton" onclick="document.querySelector('form').submit();">Submit</a>
    <a href="{% url 'register' %}" class="button">Register </a>

  </form>
</div>

</body>
</html>
